body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.page-content {
    padding-bottom: 0px !important;
}

.ic-nav {
    top: -2px;
    position: relative;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidenav {
    float: left;
}

.validation-summary-errors {
    color: red;
    text-align: center;
}

    .validation-summary-errors > ul {
        list-style-type: none;
        padding: 0;
    }

        .validation-summary-errors > ul > li {
            display: inline;
        }
/*
.cover-profile {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,0.8fr);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}*/

.validation-summary-errors {
    color: red;
    text-align: center;
}

    .validation-summary-errors > ul {
        list-style-type: none;
        padding: 0;
    }

        .validation-summary-errors > ul > li {
            display: inline;
        }
/*
.cover-profile {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,0.8fr);
    background-color: white;
}
    */

.body-profile {
    background-color: #F6F6F6;
}

#cover-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.studio-img {
    width: 92%;
    position: relative;
    left: 4%;
    top: 8px;
}

#studio-profile-img {
    background-color: white;
    border-radius: 101px;
    width: 180px;
    height: 180px;
    position: relative;
    bottom: 90px;
    left: 11%;
}

#studio-head {
    position: relative;
    left: 110%;
    width: 1000px;
}

.studio-container {
}

.grp-std {
    width: 100%;
    background-color: white;
    height: 130px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

#page-head {
    background-color: #ECECED;
    padding: 0 calc(24px / 2);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

    #page-head ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        padding: 0px 20px;
        /* width: 85%; */
    }

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333547;
}

.topnav li {
    float: left;
}

    .topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 3px 18px;
        margin-top: 8px;
        margin-bottom: 9px;
        text-decoration: none;
        border-radius: 50px;
        background-color: rgba(118, 206, 210,.6);
        margin-right: 10px;
        transition: background-color .3s ease-out;
    }

        .topnav li a:hover {
            background-color: rgba(118, 206, 210,1);
        }

#page-head li {
    float: left;
}

    #page-head li a {
        display: block;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
    }

        #page-head li a:hover {
            color: #e8e8e8;
        }

#banner .title {
    top: 20%;
    color: white;
}

#banner img {
    background: rgba(0,0,0,0.3);
}

#banner .mid {
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 0;
    right: 0;
    transform: translateY(-35%);
    text-align: center;
}

#banner .search {
    top: 35%;
}

    #banner .search input {
        width: 35%;
        max-width: unset;
        height: 40px;
        padding: .375rem .75rem;
        color: #495057;
        background-color: #fff;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s linear;
    }

        #banner .search input:focus {
            -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
            -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
            box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
            outline: none;
        }

    #banner .search button {
        position: relative;
        right: 30px;
    }

#searchpg .search {
    /* top: 50%; */
}

    #searchpg .search input {
        width: 100%;
        max-width: unset;
        height: 40px;
        padding: .375rem .75rem;
        color: #495057;
        background-color: #fff;
        margin-top: 10px;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s linear;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

    #searchpg .search button {
        position: absolute;
        right: 15px;
        bottom: 8px;
    }

    #searchpg .search input:focus {
        outline: none;
    }


#searchpg img {
    background: rgba(0,0,0,0.3);
}

#searchpg .mid {
    /* position: absolute; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* text-align: center; */
    /* left: 0; */
    /* top: -21%; */
    /* transform: translate(0%, 50%); */
    width: 100%;
}

#brick .box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 10px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    min-height: 150px;
    background-color: rgb(176, 222, 53);
    height: 50px;
}

#banner .recommend {
    bottom: 34%;
    right: 7%;
    width: 30%;
    /* padding: 5px 0px 5px 0px; */
}

    #banner .recommend .pill {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        width: 100%;
        padding: 5px 0px 5px 0px;
        border-radius: 30px;
        cursor: pointer;
        border: 1px solid white;
        transition: background-color 0.15s ease;
    }

        #banner .recommend .pill:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

    #banner .recommend .pill-title {
        color: white;
        padding: 5px 0px 5px 40px;
    }


.GridItem {
    width: 100%;
    line-height: 0;
    overflow: hidden;
    transition: transform .3s ease-out,box-shadow .3s ease-out,width .3s ease-out;
    will-change: transform,box-shadow;
    padding: 0 66px 66px 0;
    cursor: pointer;
}

    .GridItem:hover {
        width: 101%;
    }

.card ul.dashmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F27D20;
    height: 100%;
    border-bottom: 1px solid white;
}

.card li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

    .card li a {
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s ease-out;
    }

        /* Change the link color on hover */
        .card li a:hover {
            background-color: #ff8423;
            color: white;
        }

.body-profile {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

    .body-profile .chatbtn {
        width: 100%;
        background-color: #76CED2;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        padding: 10px;
        border-radius: 50px;
        color: white;
        font-size: 16px;
        display: block;
        text-align: center;
    }


    .body-profile .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
        color: #F7B346;
    }

    .body-profile .review {
        color: #7a7a7a;
    }

article {
    max-height: 1.5em;
    overflow: hidden;
    transition: 0.3s height ease;
}

.imgWrap {
    /* min-height: 13vw; */
    background-color: grey;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.myImg {
    transition: 0.3s;
    position: relative;
    top: 0;
    object-fit: cover;
    /* bottom: 70px; */
    margin: auto;
    max-width: 100%;
    /* max-height: 735px; */
    height: 290px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-shad {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.cdtitle {
    color: #53BCC1;
    font-size: 18px;
}

.body-profile .cr-btn {
    opacity: 1;
    background-color: white;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    top: 195px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.15);
    color: #8C8C8C;
    transition: background-color .3s ease-out;
}

    .body-profile .cr-btn:hover {
        background-color: #76CED2;
        color: white;
    }

    .body-profile .cr-btn.left {
        left: -14px;
    }

    .body-profile .cr-btn.right {
        right: -4px;
    }

.date-review {
    font-size: 12px;
    font-weight: 500;
    color: #9b9b9b;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.btn-review {
    border: 2px solid #76CED2;
    border-radius: 50px;
    padding: 5px 25px;
    background-color: white;
    color: #76CED2;
    transition: all .3s ease-out;
}

    .btn-review:hover {
        background-color: #76CED2;
        color: white;
    }

.btn-src {
    width: 100%;
    border: 2px solid #76CED2;
    background-color: #76CED2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 3px;
    border-radius: 0px;
    color: white !important;
    font-size: 16px;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-out;
}

    .btn-src:hover {
        background-color: #7bd7db;
    }

.btn-msg-package {
    color: white;
    background-color: #76CED2;
    width: 45px;
    height: 45px;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: -13px;
    z-index: 5;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}

.pay-title {
    font-size: 22px;
    font-weight: 500;
    color: #6d6d6d;
}

.ttl-title {
    font-size: 16px;
    color: #85bb65;
}

.imgstud {
    width: 100px;
    float: left;
}

.srcres:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
}

.srcres {
    color: white;
    background-size: cover;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    height: 103px;
}

.stddtl {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.stdimg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.filter {
    width: 100px;
    height: 38px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    right: 30.2%;
    transform: translate(50%,-50%);
}

.pricerange {
    width: 26px;
    height: 2px;
    margin-top: 16px;
    background: #bdbdbd;
}

.card {
    box-shadow: 0 4px 24px 0 rgba(34,41,47,.1);
}

.header-chat img {
    float: left;
    width: 33px;
    height: 33px;
    background: #555;
}

.header-chat h4 {
    position: relative;
    top: 3px;
    left: 10px;
}

.chat-input {
    /* display: block; */
    width: 100%;
    position: relative;
    padding: .375rem .75rem;
    height: calc(2.0em + 0.75rem + 2px);
    border: 1px solid #ced4da;
    border-radius: .25rem;
    max-width: unset;
    bottom: 0px;
    background-color: white;
}

    .chat-input:focus {
        outline: none;
    }

.btn-send {
    position: absolute;
    right: 12px;
    bottom: 15.5px;
    background-color: #76CED2;
    color: white;
}

    .btn-send:hover {
        color: white;
        background-color: #70c1c4;
    }

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    color: #888888;
    font-size:12px;
}

    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #e1e1e1;
    }

    .separator::before {
        margin-right: .25em;
    }

    .separator::after {
        margin-left: .25em;
    }
