body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cover-profile {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,0.8fr);
}

#cover-photo {
    grid-column: 1 / span 12;
    grid-row: 1/ span 3;

    object-fit: cover;
    height: 200px;
    width: 100%;
}

#studio-profile-img {
    grid-column: 2/ span 2;
    grid-row: 3/ span 2;
    z-index: 1;
    height: 100px;
    margin-top: 37%;
}

#studio-head {
    grid-column: 4/ span 8;
    grid-row: 4;
    margin-left: 20px;
    margin-top: 4%;
}
