
@{
    ViewBag.Title = "ValidateEmail";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="text-center">
    <h2>One Step Closer!</h2>

        <img src="images/email-fly.gif">
        <p>
            We have sent an email to <b>@ViewBag.Email</b>. Please check your email to verify this registration.
        </p>
        <p>
            If you did not receive any emails from us within an hour of
            registration, please check the spam folder or contact us at
            <b>03-9059 3800</b> for assistance.
        </p>
</div>