@model PMS.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}

@section styles {
    <style>
    </style>
}

<div class="row" id="banner">
    <div class="col-12 pt-4">
        <div class="mid search" style="position:relative">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                @Html.EditorFor(model => model.keyword, new { htmlAttributes = new { @class = "input", placeholder = "Search Studio/Package", required = "required", value = @Model.keyword } })
                <button type="submit"><i class="fa fa-search"></i></button>
            }
        </div>
    </div>
</div>
<div class="container">
    sini = > 
    <div class="row" id="srcitem">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Search</h2>
        </div>
        <div class="col-12">
            <div id="brick" class="bricklayer">
                <div class="GridItem">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-1.jpg">
                    Pelatography
                </div>
                <div class="GridItem">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-2.jpg">
                    Julaphotography
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-3.jpg">
                    Czone
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-4.jpg">
                    Kodak
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-5.jpg">
                    Tecware
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-6.jpg">
                    MSI
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-7.jpg">
                    Razer
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-8.jpg">
                    Coolermaster
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-9.jpg">
                    Strix
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-10.jpg">
                    ROG
                </div>
                <div class="GridItem pt-2">
                    <img class="card-img-top mx-0 d-block pb-4" src="~/src/images/gallery/work-11.jpg">
                    Asus
                </div>
            </div>
        </div>
    </div>
    <!--<p>Result = @Model.keyword</p>-->
</div>



@section Scripts {

    <script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>

    <script>

        LoadAjaxSearch = function () {

            jQuery.ajax({
                url: '/api/system/loadSearch?keyword=@Model.keyword',
                success: function (resp) {
                    //$("#srcitem").html(resp.data["name"]);
                    console.log(resp);
                },
                failure: function (resp) {
                    console.log(resp);
                },
                complete: function () {
                    var bricklayer = new Bricklayer(document.querySelector('#brick'))
                },
                error: function (resp) {
                    console.log(resp);
                }
            });

        }

        LoadAjaxSearch();

    </script>
}
