@model IEnumerable<PMS.Models.Database.ChatKey>
@using PMS.Models.Database

@using PMS.Models
@{
    ViewBag.Title = "ChatList";
}




@* this is new *@
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">ChatList</h4>
        <div class="table-responsive">
            <table class="table table-hover table-centered table-nowrap mb-0">
                <thead>
                    <tr>
                     
                        <th scope="col">Name</th>
                        
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        @{
                            
                                <td>
                                    @*<img src="assets/images/users/user-2.jpg" alt="" class="avatar-xs rounded-circle mr-2">this reserve for image*@
                                  @item.Studio.name
                                </td>
                          




                        }




                        <td>
                            @Html.ActionLink("enter", "ChatMain", new { chatid = item.ChatKeyID }, new { @class = "btn btn-primary btn-sm" })

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@* this is end of new *@

