<div class="card" id="PackagePanel">
    <div class="card-body">
        <div v-show="showSummary">
            <div v-show="!CurrentEnquiries.ShowAddPackage">
                <div class="alert alert-danger" v-if="isDisabledPackage">
                    Package is disabled. Please select other package
                </div>

                <div class="d-flex d-flex-row">
                    <div class="justify-content-start flex-grow-1">
                        <h5>Current Enquiries</h5>
                        <p>Click on package to view enquiries</p>
                    </div>

                    @if (ViewBag.StudioID != null)
                    {
                        <div class="justify-content-end">
                            <button class="btn btn-primary" v-on:click="CurrentEnquiries.ShowAddPackage = !CurrentEnquiries.ShowAddPackage">Add New Package</button>
                        </div>
                    }
                </div>
             
                <table class="table table-hover thead-dark">
                    <thead class="table-primary">
                        <tr>
                            <th>No</th>
                            <th>Package Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item , index) in CurrentEnquiries.List" v-on:click="onClickPackageDetails(item.Package.Id)" style="cursor: pointer;" >
                            <td>
                                <p v-if="item.Package.Status == 'Disabled'" />
                                    <del>
                                        {{ index + 1 }}
                                    </del>
                                </p>
                                <p v-if="item.Package.Status != 'Disabled'" />
                                    {{ index + 1 }}
                                </p>
                            </td>
                            <td>
                                <p v-if="item.Package.Status == 'Disabled'" class="font-weight-bolder" />
                                    <del>
                                        {{item.Package.Name}}
                                    </del>
                                </p>

                                <p v-if="item.Package.Status != 'Disabled'" class="font-weight-bolder"  />
                                      {{item.Package.Name}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>              
            </div>

            @if (ViewBag.StudioID != null)
            {
                <div v-show="CurrentEnquiries.ShowAddPackage">
                    <div class="form-group">
                        <label for="input-Package">Select Package</label>
                        @Html.DropDownList("SelectedPackage", new SelectList(ViewBag.PackageList, "id", "name"), htmlAttributes: new Dictionary<string, object> { { "class", "form-control" }, { "v-model", "CurrentEnquiries.SelectedPackage" } })
                    </div>

                    <button class="btn btn-primary" v-on:click="onAddNewPackage(true)">Add New Package</button>
                    <button class="btn btn-danger" v-on:click="onAddNewPackage(false)">Cancel</button>
                </div>
            }
        </div>


        <div v-show="!showSummary">
            @if (ViewBag.StudioID == null)
            {
                <div class="alert alert-info" v-show="!showAddChargeButton">
                    Booking success. Please make your payment.
                </div>
            }
            else
            {
                <div class="alert alert-info" v-show="!showAddChargeButton">
                    Customer have confirmed Quotation. <b><a v-bind:href="'/@ViewBag.StudioUrl/job/detail/' + jobId">Review Quotation Here</a> </b>
                </div>
            }
            <div class="d-flex flex-row">
                <div class="justify-content-start flex-grow-1">
                    <p>Package Enquiry : </p>
                    <h4>{{packageName}}</h4>
                    <p>Price : {{packagePrice | priceFilter}} </p>
                    <p>Minimum Payment (Deposit)  : {{packagePriceDeposit | priceFilter}} </p>
                    <p>Status : {{quoteStatus}}</p>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary h-25" v-on:click="onBackToList">Back to List</button>
                </div>
            </div>

            <div class="p-2">
                <p>Charges : </p>

                <table class="table table-responsive thead-dark table-hover" id="orderTable">
                    <thead class="table-primary">
                        <tr>
                            <th>No</th>
                            <th>Remarks</th>
                            <th>PPU(RM)</th>
                            <th>Quantity</th>
                            <th>Total Price (RM)</th>
                            <th v-show="showAddChargeButton"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(cart , index) in cartItems">
                            <td>
                                {{ index + 1 }}
                            </td>
                            <td>
                                <p class="font-weight-bolder">{{cart.Remarks}}</p>
                            </td>
                            <td>
                                <p class="text-primary">{{ cart.PricePerUnit | priceFilter}}</p>
                            </td>
                            <td>
                                <p class="text-primary">{{ cart.Quantity }} </p>
                            </td>
                            <td>
                                <p class="font-weight-bold text-success">{{ cart.TotalPrice | priceFilter}}</p>
                            </td>
                            @if (ViewBag.StudioID != null)
                            {
                                <td v-show="showAddChargeButton">
                                    <button class="btn btn-dark" v-on:click="onRemoveCharge(index)">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>

                <p>Venues : </p>

                <table class="table thead-dark table-hover" id="orderTable">
                    <thead class="table-primary">
                        <tr>
                            <th>No</th>
                            <th>Venue</th>
                            <th>Date</th>
                            <th v-show="showAddChargeButton"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(cart , index) in venueItems">
                            <td>
                                {{ index + 1 }}
                            </td>
                            <td>
                                <p class="font-weight-bolder">{{cart.Location}}</p>
                            </td>
                            <td>
                                <p class="text-primary">{{ cart.Date | dateFilter}}</p>
                            </td>
                            @if (ViewBag.StudioID != null)
                            {
                                <td v-show="showAddChargeButton">
                                    <button class="btn btn-dark" v-on:click="onRemoveVenue(index)">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>

                <div class="text-left d-flex d-inline-flex w-100 m-2">
                    <label class="mr-3 mt-1">Total Price : </label>
                    <h3 class="text-monospace"> {{ totalPricePackage | priceFilter}}</h3>
                    @if (ViewBag.StudioID != null)
                    {
                        <button class="btn btn-success ml-auto" v-on:click="onConfirmQuote" v-show="showAddChargeButton">Confirm Quotation</button>
                    }
                </div>

                @if (ViewBag.StudioID != null)
                {
                    <div class="card">
                        <div class="card-body bg-soft-dark">
                            <div class="col-12" v-show="showAddChargeButton">
                                <button class="btn btn-info w-100 m-2" v-on:click="onAdd('AddChargeCard')">Add Charges</button>
                                <button class="btn btn-light w-100 m-2" v-on:click="onAdd('AddVenueCard')">Add Venue</button>
                            </div>

                            <div class="row" id="AddChargeCard">
                                <div class="col-12">
                                    <h5>Add New Charge</h5>
                                    <div class="form-group">
                                        <label>Charge Name</label>
                                        <select class="form-control" v-model="chargeName" v-on:change="onChargeSelectChange">
                                            <option v-for="pf in prefixCharges" v-bind:value="{id: pf.$id, value: pf.Name}">{{pf.Name}}</option>
                                            <option v-bind:value="{id: 0, value: 'Custom'}">Custom Charge</option>
                                        </select>
                                    </div>
                                    <input type="text" placeholder="Enter Charge Details" class="form-control" v-model="chargeNameCustom" v-show="chargeName.id == '0'" />
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Price Per Unit</label>
                                        <p class="text-monospace">{{pricePerUnit | priceFilter}} {{unit}}</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="number" v-model="quantity" class="form-control w-100" />
                                    </div>
                                </div>

                                <div class="col-12 text-center">
                                    <label>Total Price</label>
                                    <h3 class="text-monospace"> {{ totalPrice | priceFilter}}</h3>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-info w-100" v-on:click="onAddChargeSubmit()">Add</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger w-100" v-on:click="onAdd('AddChargeCard')">Cancel</button>
                                </div>
                            </div>

                            <div class="row" id="AddVenueCard">
                                <div class="col-12">
                                    <h5>Add New Venue</h5>
                                    <div class="form-group">
                                        <label>Venue Location</label>
                                        <textarea placeholder="Enter Venue Name & Detail" class="form-control" v-model="venueDetails"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Venue Date</label>
                                        <input type="datetime-local" class="form-control" v-model="venueDate" />
                                    </div>
                                </div>

                                <div class="col-6">
                                    <button class="btn btn-info w-100" v-on:click="onAddVenue">Add</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger w-100" v-on:click="onAdd('AddVenueCard')">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <button v-show="jobId != ''" v-on:click="onCancelClick" class="btn btn-danger mr-2 float-right">Cancel</button>
                    <a v-show="jobUrl != ''" v-bind:href="jobUrl" class="btn btn-primary mr-2 float-right">Detail</a>
                    <button v-show="studioUrl != ''" class="btn btn-success mr-2 float-right" data-toggle="modal" data-target="#modalPayment">Pay Now</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPayment" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="mb-3">Choose option to pay the service</h4>
                <select v-model="option" class="form-control">
                    <option value="1">Deposit</option>
                    <option value="2">Full</option>
                </select>
                <br />
                <img src="~/src/img/Stripe_logo.png" class="float-left" height="29" />
                <button v-on:click="onPayClick" style="background-color: #6772E5;border:1px solid #6772E5;" class="btn btn-success float-right"><i class="mdi mdi-credit-card"></i> Pay</button>
            </div>
        </div>

    </div>
</div>


