@model IEnumerable<PMS.Models.Database.ChatKey>
@using PMS.Models.Database

@using PMS.Models
@{
    ViewBag.Title = "ChatList";
}

<h2>ChatList</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChatKey_Key)
        </th>
        <th>
     
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    @{
        var whichchatroomID = item.ChatKey_Key;

        PMS.Models.Database.photogEntities ent = new PMS.Models.Database.photogEntities();
        var whichuser = (User)UserAuthentication.Identity();
        int userid = whichuser.id;
        var whichchatkey = ent.ChatKeys.FirstOrDefault(x => x.UserID != userid && x.ChatKey_Key == whichchatroomID);
        int targeteduserid = (int)whichchatkey.UserID;
        var targeteduser = ent.Users.FirstOrDefault(x => x.id == targeteduserid);

        <td>@targeteduser.name</td>

        }




        <td>
            @Html.ActionLink("Enter Chat Room", "ChatMain", new { chatid = item.ChatKeyID }) |

        </td>
    </tr>
}

</table>
