
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
}

<h2>Index</h2>

<div class="row bg-dark">
    <div class="col-12 ">
        @{
            Html.RenderPartial("ChatPackagePanel");
        }
    </div>

    <span id="newTime"></span>
</div>


@section Scripts{
    @{ 
        Html.RenderPartial("ChatPackagePanelScript");
    }
}