
<div class="card" id="PackagePanel">
    <div class="card-body">
        <div>
            <p>Package Enquiry : </p>
            <h4>Wedding Basic</h4>
        </div>

        <div class="bg-light p-2">
            <p>Current Orders : </p>

            <table class="table table-responsive table-hover" id="orderTable">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Remarks</th>
                        <th>Price (RM)</th>
                        <th>Price (RM)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="cart in cartItems">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td onclick="onAddItem(cart)">
                            <button class="btn btn-dark"></button>
                        </td>


                        <td class="text-left" v-on:click="onAddItem(cart)">
                            <i class="fas fa-plus fa-2x text-info pt-3"></i>
                        </td>
                        <td class="w-75">
                            <div class="row">
                                <img class="col-md-4 img-fluid" style="height: 90px"
                                     v-bind:src="'https://app.oderje.com/images/product/'+(cart.item.product.img ? cart.item.product.img :'default.jpeg')">
                                <div class="col-md-8">
                                    <p class="font-weight-bolder">{{cart.item.product.name}}</p>
                                    <p class="text-primary">{{priceUnit}} {{Number(cart.item.product.price).toFixed(2)}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="text-center w-25">
                            <div class="p-1">
                                <p class="font-weight-bolder">{{cart.quantity}}</p>
                            </div>
                            <div class="p-1">
                                <p class="font-weight-bold text-success">{{priceUnit}} {{cart.total}}</p>
                            </div>
                        </td>
                        <td class="text-right" v-on:click="onRemoveItem(cart)">
                            <i class="fas fa-minus fa-2x text-danger pt-3"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
