<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                @*<li class="menu-title">Main</li>*@

                <li>
                    <a href="/Database" class="waves-effect">
                        <i class="mdi mdi-database"></i>
                        <span>Database Backups</span>
                    </a>
                </li>
                <li>
                    <a href="/Hangfire" class="waves-effect">
                        <i class="mdi mdi-database"></i>
                        <span>Hangfire Dashboard</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>