<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                @*<li class="menu-title">Main</li>*@

                <li>
                    <a href="@string.Format("/{0}", ViewBag.StudioUrl)" class="waves-effect">
                        <i class="ti-home"></i>
                        <span>Studio Main Page</span>
                    </a>
                </li>

                <li>
                    <a href="@string.Format("/{0}/{1}", ViewBag.StudioUrl, "package")" class=" waves-effect">
                        <i class="ti-calendar"></i>
                        <span>Packages</span>
                    </a>
                </li>

                <li>
                    <a href="@string.Format("/{0}/{1}", ViewBag.StudioUrl, "job")" class=" waves-effect">
                        <i class="mdi mdi-briefcase-clock"></i>
                        <span>Jobs</span>
                    </a>
                </li>

                @if (ViewBag.StudioRoleID == 1)
                {
                    <li>
                        <a href="@string.Format("/{0}/{1}", ViewBag.StudioUrl, "roles")" class=" waves-effect">
                            <i class="mdi mdi-face-woman"></i>
                            <span>Studio Roles</span>
                        </a>
                    </li>
                }


                @*<li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-email"></i>
                            <span>Email</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="email-inbox.html">Inbox</a></li>
                            <li><a href="email-read.html">Email Read</a></li>
                            <li><a href="email-compose.html">Email Compose</a></li>
                        </ul>
                    </li>*@
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>