
@{
    ViewBag.Title = "Payment";
    if (ViewBag.StudioRoleID != null)
    {
        Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
    }
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/rg-1.1.2/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css" />

<div class="container">
    <h2>Payment</h2>
    <p>List of invoice created.</p>
    @if (ViewBag.StudioRoleID != null && ViewBag.hasDeposit && !ViewBag.hasFull)
    {
        <div style="margin-top:10px">
            <a href="/@ViewBag.StudioUrl/job/createfullinvoice/@ViewBag.jobid">Create Full Payment Invoice</a>
        </div>
    }
    <div class="card">
        <div class="card-body">
            <div class="container">
                <table id="invoiceTable" class="table table-striped table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Invoice Created</th>
                            <th>Payment Due</th>
                            <th>Total (RM)</th>
                            <th>Total Unpaid (RM)</th>
                            <th>Payment Detail</th>
                            <th>Payment Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/rg-1.1.2/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>
    <script>
        $(function () {
            $("#invoiceTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/api/system/loadinvoices/@ViewBag.jobid",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        { data: 'invdate', autoWidth: true },
                        { data: 'expirydate', autoWidth: true },
                        { data: 'total', autoWidth: true },
                        { data: 'totalunpaid', autoWidth: true },
                        { data: 'detail', autoWidth: true },
                        { data: 'status', autoWidth: true },
                        { data: 'id', render: function (data, type, row) { return (row.status == "Not Paid") ? `@if (ViewBag.StudioRoleID == null) { <a href="/payment/checkoutindex/${data}">Pay</a> } else { <a href="/@ViewBag.StudioUrl/job/deleteinvoice/${data}">Delete</a> }` : `<a href="/payment/receipt/${data}">View Receipt</a>` }, autoWidth: true }
                    ]
                }
            );
        });
    </script>
}

