
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
}

<h2>Payment</h2>

<div class="container">
    <table id="invoiceTable" class="table table-striped table-bordered w-100">
        <thead>
            <tr>
                <th>Invoice Created</th>
                <th>Payment Due</th>
                <th>Total (RM)</th>
                <th>Total Unpaid (RM)</th>
                <th>Payment Detail</th>
                <th>Payment Status</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#invoiceTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/api/system/loadinvoices/@ViewBag.jobid",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        { data: 'invdate', autoWidth: true },
                        { data: 'expirydate', autoWidth: true },
                        { data: 'total', autoWidth: true },
                        { data: 'totalunpaid', autoWidth: true },
                        { data: 'detail', autoWidth: true },
                        { data: 'status', autoWidth: true },
                        { data: 'id', render: function (data, type, row) { return (row.status == "Not Paid") ? `@if (ViewBag.StudioRoleID == null) { <a href="/payment/checkoutindex/${data}">Pay</a> } else { <a href="/@ViewBag.StudioUrl/job/deleteinvoice/${data}">Delete</a> }` : `<a href="/payment/receipt/${data}">View Receipt</a>` }, autoWidth: true }
                    ]
                }
            );
        });
    </script>
}

