
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
}

<h2>Manage Users</h2>

<div class="card">
    <div class="card-body">
        <table id="adminTable" class="table table-striped table-bordered w-100">
            <thead class="text-left">
                <tr>
                    <th>User</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <v-simple-table></v-simple-table>
    </div>
</div>


@section Scripts {
<script type="text/x-template" id="anchored-heading-template">

</script>
    <script>
        $(function () {
            $.ajax({
                type: "GET",
                url: "/systemapi/studioroles/getRoleList",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    console.log(response.admin);

                    $("#adminTable").DataTable(
                        {
                            bLengthChange: true,
                            paging: false,
                            searchPlaceholder: "Search User",
                            search: true,
                            bSort: true,
                            info: false,                           
                            processing: true,
                            data: response.admin,
                            columns: [
                                { data: 'name', "autoWidth": true },
                                { data: 'StudioRole', "autoWidth": true }
                            ]
                        }
                    );
                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        });
    </script>
}