@model PMS.Models.Database.Studio

@{
    ViewBag.Title = Model.name;

    if (ViewBag.StudioRoleID != null)
    {
        Layout = "~/views/shared/_LayoutStudioManage.cshtml";
    }
}


<div class="cover-profile">
    <img src="~/src/img/cover-default.jpg" id="cover-photo" />
    <div id="studio-profile-img"><img class="rounded-circle" style="width: 90%;margin: 10.2px;" src="~/src/img/default-profile.jpg"></div>
    <div id="studio-head">
        <h2 style=""> @Model.name </h2>
        <p class="mb-0">
            <span style="position: relative; top: -6px; font-weight: 500;"> Speaking through visual. #pelatography</span>
            <br>
            <span style="color:#9F9F9F;font-weight:500">
                <i class="ti-location-pin"></i> @Model.location &nbsp;&nbsp;
                <i class="ti-facebook"></i> Adi Iman &nbsp;&nbsp;
                <i class="ti-instagram"></i> adi_iman10 &nbsp;&nbsp;
                <i class="ti-twitter-alt"></i> trixxboy &nbsp;&nbsp;
            </span>
        </p>
    </div>
</div>
<div class="body-profile">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    test
                </div>
            </div>
        </div>
    </div>
</div>

