@using PMS.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="btn btn-primary" v-on:click="onBackup">Backup</button>
<button class="btn btn-danger" v-on:click="onRestore">Restore</button>


@section Scripts{
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js"></script>
    <script type="text/javascript">
        var firebaseConfig = {
            apiKey: "AIzaSyCCQCiuqARWfqss6ksACWOYzvIPXVntFVc",
            authDomain: "photogw2.firebaseapp.com",
            databaseURL: "https://photogw2-default-rtdb.firebaseio.com",
            projectId: "photogw2",
            storageBucket: "photogw2.appspot.com",
            messagingSenderId: "316477798255",
            appId: "1:316477798255:web:93e0ce04b4148e4033da9a",
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        data = {

        };

        function checkStat() {
            var responseFile = true;
            var check = setInterval(() => {
                axios.get('/SystemAPI/Database/CheckJobStatus').then((response) => {
                    if (response.status == 200 || response.status == 409) {
                        responseFile = false;
                        if (response.status == 200) {
                            console.log("okay");
                        }
                        else {
                            console.log("error");
                        }
                    }
                    console.log("progress");
                }, 10000);
            });

            while (responseFile) { };
            clearInterval(check);
        }

        var packagePanel = new Vue({
            el: "#app",
            data: this.data,
            methods: {
                onBackup: () => {
                    axios.get('/SystemAPI/Database/Backup/@UserAuthentication.Identity().id').then((result) => {
                        checkStat();
                    });
                },
                onRestore: () => {
                    axios.get('/SystemAPI/Database/Restore/@UserAuthentication.Identity().id').then((result) => {
                        checkStat();
                    });
                }
            }
        });
    </script>

}
