<div class="card">
    <div class="card-header d-flex">
        <h4 class="mr-auto">Package Charges Presets</h4>
        <a href="@Url.Action("AddCharge", "Package")" class="my-auto">Create New Charge Preset</a>
    </div>
    <div class="card-body">
        <table id="packageChargesTable" class="table table-striped table-bordered" style="width:100%">
            <thead class="text-center">
                <tr>
                    <th>Charge Name</th>
                    <th>Details</th>
                    <th>Price per item (RM)</th>
                    <th>Unit</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>